body {
    /* background-color: green; */
}

* {
    /* font-family: 'Courier New', Courier, monospace ; */
}


.my-custom-col{
    padding-right: 25px;
    padding-left: 25px;
}

.font-secondary {
    font-family: 'Montserrat', ;
}

.login-form{
    margin-bottom: 0;
    padding-left: 3rem;
    padding-bottom: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    flex: 1 1 auto;
    flex-direction: column;
    display: flex;
    border-radius: 0.25rem;
    background-color: #fff;
    box-sizing: border-box;
}

@media only screen and (min-width: 720px) {
    .login-form {
        margin-bottom: 3rem;
    }
}